* {
  box-sizing: border-box;
}

/* ourTeam */

.ourTeam {
  text-align: center;
  padding: 3% 20px;
}

.teamItem {
  /* border: 1px solid #000; */
  text-align: center;
  /* max-width: 120px; */
}
.teamItem img {
  border-radius: 50%;
  transition: all 0.2s;
}
.teamItem img:hover {
  opacity: 0.75;
}
.teamName {
  font-weight: normal;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 12px;
}
.teamPosition {
  margin-top: 0;
  font-weight: normal;
  font-size: 18px;
}

.teamGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
