* {
  box-sizing: border-box;
}

/* ourTeam */

.ourTeam {
  padding: 3% 20px;
}

.teamItem {
  border: 1px solid #000;
}
.teamItem img {
  border-radius: 50%;
}
.teamName {
  font-weight: normal;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 12px;
}
.teamPosition {
  margin-top: 0;
  font-weight: normal;
  font-size: 18px;
}
