@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Oswald', sans-serif;
}

/* ourTeam */

.ourTeam {
  text-align: center;
  padding: 3% 20px;
}

.teamItem {
  /* border: 1px solid #000; */
  text-align: center;
  /* max-width: 120px; */
}
.teamItem img {
  border-radius: 50%;
  transition: all 0.2s;
}
.teamItem img:hover {
  opacity: 0.75;
}
.teamName {
  font-weight: normal;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 12px;
}
.teamPosition {
  margin-top: 0;
  font-weight: normal;
  font-size: 18px;
}

.teamGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* popular posts */

aside {
  padding: 0 30px;
  background-color: lightgray;
  max-width: 500px;
  margin-left: auto;
  padding-top: 30px;
}

.pTitle {
  color: white;
  background-color: #333;
  padding: 15px 10px;
  margin-bottom: 0;
  font-weight: 400;
}

.postLine {
  border-bottom: 1px solid #ddd;
  padding-left: 10px;
  display: grid;
  grid-template-columns: 50px auto;
  column-gap: 15px;
  background-color: #fff;
}

.postLine:hover {
  background-color: rgb(202, 202, 202);
}

.postLine img {
  grid-row: 1 / span 2;
  align-self: center;
}

.postLine h4 {
  margin: 8px 0 0;
  font-size: 16px;
  font-weight: normal;
}
.postLine p {
  margin: 8px 0;
  font-size: 14px;
}
